* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

@font-face {
    font-family:'swansea';
    src: url('fonts/Swansea-q3pd.ttf') format('ttf');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hirosin';
    src: url('fonts/Demohirosinregular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html{
	font-size: 16px;
	font-family:swansea,serif;
}
h1, h2 {
  font-family: hirosin ,serif; 
}

h1 {
	font-size: 2.2rem;
	text-align: center;
}
h2 {
	font-size: 1.5rem;
	text-align: left-side;
}
p {
  text-indent: 10px;
}

p, li {
  font-size: 0.5rem;
  line-height: 1.5;
  word-spacing: 2px;
}