html {
  font-family: sans-serif;
  font-size: 16px;
}
div {
	width: 200px;
	margin: auto;
	line-height: 10;
	
	background-color: red;
	background-image: linear-gradient(
    to top left,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2) 30%,
    rgba(0,0,0,0));
	border-radius: 11px;
	border: 1px solid darkred;
	
    text-align: center;
	font-size: 1.1rem;
	color: white;
	text-shadow: 1px black;
	
	
	
}